{% extends 'layouts/app.twig' %}

{% block content %}

<section class="congrats">
    <div class="congrats__container container">
        <div class="content">
            <h2>Congratulations</h2>
            <h3>You're all set!</h3>
            <div class="bottom">
                <p>Thank you for your participation. We'll get started on your new logo design right away. You can expect to have it within 5-7 days. If you have any questions, please let us know.</p>
                <p>In the meantime, feel free to check out some of our work and see if there is anything else we can do for you to help get your new business started off right.</p>
                <div class="socials">
                    <a href="https://express.darkroast.co/" target="_blank"><img src="/assets/img/dr_logo.png" alt="DarkRoast Website"></a>
                    <a href="https://www.facebook.com/darkroastdigital/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/darkroast.co/" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}